{% extends 'base.html.twig' %}

{% block title %}Taxi Order{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h3>Your Taxi {{ taxi }}! ✅</h3>
    <h3> {{ client }}! ✅</h3>
    <h3> {{ address }}! ✅</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
